<ion-view view-title="个人中心 之 管理收货地址">
    <div class="personalDelivery">
        <!-- 头部内容 -->
        <app-header></app-header>
        <ion-content class="margin-top">
            <ion-list>
                <div>
                    <ion-item class="bor-top">
                        <div>
                            <span class="">张三</span>
                            <span class="fr">13712345678</span>
                        </div>
                        <div>广东省广州市海珠江燕路南珠广场附近（江南大道南海鹰路88号） </div>
                        <div class="operation fr">
                            <a href="#" class="subdued">
                        <i class="ion ion-ios-compose-outline fl"></i>
                        <span class="fl">编辑</span>
                    </a>
                            <a href="#" class="subdued">
                        <i class="ion ion-ios-trash-outline fl"></i>
                        <span class="fl">删除</span>
                    </a>
                        </div>
                    </ion-item>
                    <ion-toggle toggle-class="toggle-viridity">默认地址</ion-toggle>
                </div>
                <div>
                    <ion-item class="bor-top">
                        <div>
                            <span class="">张三</span>
                            <span class="fr">13712345678</span>
                        </div>
                        <div>广东省广州市海珠江燕路南珠广场附近（江南大道南海鹰路88号） </div>
                        <div class="operation fr">
                            <a href="#" class="subdued">
                        <i class="ion ion-ios-compose-outline fl"></i>
                        <span class="fl">编辑</span>
                    </a>
                            <a href="#" class="subdued">
                        <i class="ion ion-ios-trash-outline fl"></i>
                        <span class="fl">删除</span>
                    </a>
                        </div>
                    </ion-item>
                    <ion-toggle toggle-class="toggle-viridity">默认地址</ion-toggle>
                </div>
            </ion-list>
        </ion-content>
        <ion-footer-bar class="footer">
            <button class="button button-settlement button-block" ui-sref="app.personalAddress">添加新地址</button>
        </ion-footer-bar>
    </div>
</ion-view>