<ion-view view-title="个人资料">
    <div class="personalData">
        <!-- 头部内容 -->
        <app-header></app-header>
        <ion-content class="margin-top">
            <ion-list class="bor-top block">
                <ion-item class="data-list">
                    <h2 class="fl">头像</h2>
                    <div class="fr"><img src="./public/images/icons/personal-label.png"></div>
                </ion-item>
                <ion-item class="data-list">
                    <h2 class="fl">会员名</h2>
                    <div class="fr">zp258369147</div>
                </ion-item>
                <ion-item class="data-list">
                    <h2 class="fl">昵称</h2>
                    <div class="fr">猴来野</div>
                </ion-item>
                <ion-item class="data-list">
                    <h2 class="fl">手机号</h2>
                    <div class="fr">13258369147</div>
                </ion-item>
                <ion-item class="data-list">
                    <h2 class="fl">二维码名片</h2>
                    <div class="fr"><img src="./public/images/icons/ewm.png"></div>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</ion-view>