<ion-view view-title="我的意见 之 小特在线">
	<div class="personalOnLine">
		
		<!-- 头部内容 -->
        <app-header></app-header>
	    
		<ion-content class="bor-top margin-top">
			<ion-list class="">
				<ion-item class="item-avatar personalOnLine-send ">
					<img src="venkman.jpg">
				    <div class="talk">
				    	<i class="msg_input"></i>  
				    	<p>Back off, man. I'm a scientist.</p>
				    </div>
				</ion-item>
				<ion-item class="item-avatar-right personalOnLine-show ">
					<img src="venkman.jpg">
					<div class="talk">
				    	<p>Back off, man. I'm a scientist.</p>
				    </div>
				</ion-item>
				<ion-item class="item-avatar personalOnLine-send ">
					<img src="venkman.jpg">
				    <div class="talk">
				    	<i class="msg_input"></i>  
				    	<p>Back off, man. I'm a scientist.</p>
				    </div>
				</ion-item>
			</ion-list>
		</ion-content>

		<ion-footer-bar class="bar bar-footer bor-top footer-height">
			<div class="send-text">
				<div class="text-img fl">
					<img src="./public/images/icons/hua.png" alt="" />
				</div>
				<div class="text-img fl">
					<img src="./public/images/icons/xiaolian.png" alt="" />
				</div>
				<label class="fl text-put">
					<input type="text" name="">
				</label>
				<div class="send-but fr">
					<button class="button button-settlement">发送</button>
				</div>
			</div>
					
				
			</ion-list>
		</ion-footer-bar>

	</div>
</ion-view>