<ion-view>
    <div class="index">
            <!-- 轮播 -->
            <div class="banner bor-bot">
                <ion-slide-box>
                    <ion-slide>
                        <div class="box"><img src="./public/images/start/start-00.jpg"></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./public/images/start/start-01.jpg"></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./public/images/start/start-02.jpg"></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box" ui-sref="app.index"><img src="./public/images/start/start-03.jpg"></div>
                    </ion-slide>
                </ion-slide-box>
            </div>

    </div>
</ion-view>