<ion-view view-title="登录">

	<div class="login">
		<div class="login-portrait">
			<img src="./public/images/my/my-portrait.png" />
		</div>
		<div class="login-main">
			<form>
				<ion-list class="list list-inset">
					<label class="item item-input item-floating-label">
						<span class="input-label">账号/手机号/邮箱</span>
						<input type="text" name="username" placeholder="账号/手机号/邮箱">
						<i class="icon ion-android-contact icons-left"></i>
					</label>

					<label class="item item-input item-floating-label">
						<span class="input-label">密码</span>
						<input type="password" name="username" placeholder="密码">
						<i class="icon ion-android-lock icons-left"></i>
						<!-- ion-ios-eye 可看 -->
						<i class="icon ion-ios-eye-outline icons-right"></i>
					</label>

					<div class="login-edit">
						<span class="register">新用户注册</span>
						<span class="item-note forget">忘记密码</span>
					</div>

					<div class="login-but">
						<button class="button button-settlement button-block">登录</button>
					</div>

				</ion-list>
			</form>

			<div class="login-third">
				<div class="third-line">
					<span class="line line-left"></span>
					<span class="line-txt">合作账号登录</span>
					<span class="line line-right"></span>
				</div>
				<div class="third-icon clearfix">
					<div class="row">
						<div class="col clo-50">
							<div><img src="./public/images/icons/login-wxin.png"></div>
							<span>微信登录</span>
						</div>
						<div class="col clo-50">
							<div><img src="./public/images/icons/login-qq.png"></div>
							<span>QQ登录</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>	

</ion-view>