<ion-view view-title="商品分类">
    <div class="classify">
        <!-- 头部内容 -->
        <app-header></app-header>
        <ion-content class="margin-top">
            <div class="banner bor-top">
                <img ng-src="./public/images/product/advert-01.png">
            </div>
            <div class="row bor-top classify-list">
                <div class="col col-25 slide-left">
                    <ion-content class="left-list">
                        <ion-list>
                            <ion-item ng-repeat="item in classifyLeft track by $index" ng-click="toggleClass(item.url)">{{item.name}}</ion-item>
                        </ion-list>
                    </ion-content>
                </div>
                <div class="col col-75 slide-right">
                    <!-- 三级路由 -->
                    <!-- <ui-view></ui-view> -->
                    <ion-nav-view></ion-nav-view>
                </div>
            </div>
        </ion-content>
        <!-- 尾部内容 -->
        <app-footer></app-footer>
    </div>
</ion-view>