<ion-view view-title="交易物流"> 
    <ion-content class="logistics">        
        <div class="logistics-list">
            <div class="bor-top list-time">
                <div class="time"><span>今天  10：30</span></div>
                <div class="time-list">
                    <p><span>订单派送中...</span>（申通快递）</p>
                    <div class="number">
                        <p class="fr">运单编号：1234567891011</p>
                    </div>
                    <ion-list class="clearfix">
                        <ion-item class="item-thumbnail-left">
                            <img src="./public/images/product/city-buy-01.png">
                                <h5>BSE06外贸品质商用动感单车 多功能磁控</h5>
                        </ion-item>
                        <ion-item class="item-thumbnail-left">
                            <img src="./public/images/product/city-buy-01.png">
                                <h5>BSE06外贸品质商用动感单车 多功能磁控多功能磁控</h5>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="bor-top list-time">
                <div class="time"><span>今天  10：30</span></div>
                <div class="time-list">
                    <p><span>订单派送中...</span>（申通快递）</p>
                    <div class="number">
                        <p class="fr">运单编号：1234567891011</p>
                    </div>
                    <ion-list class="clearfix">
                        <ion-item class="item-thumbnail-left">
                            <img src="./public/images/product/city-buy-01.png">
                                <h5>BSE06外贸品质商用动感单车 多功能磁控</h5>
                        </ion-item>
                        <ion-item class="item-thumbnail-left">
                            <img src="./public/images/product/city-buy-01.png">
                                <h5>BSE06外贸品质商用动感单车 多功能磁控</h5>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
        <div class="height"></div>
    </ion-content>
</ion-view>