<ion-view view-title="通知"> 
    <ion-content class="logistics notice">        
        <div class="logistics-list">
            <div class="bor-top list-time">
                <div class="time"><span>2017年8月31日   18：23</span></div>
                <div class="time-list">
                    <p>20元积分劵已到账，购买享有更多优惠</p>
                    <ion-list class="clearfix">
                        <ion-item class="item-thumbnail-left">
                            <img src="./public/images/icons/notice.png">
                                <h5>BSE06外贸品质商用动感单车 多功能磁控</h5>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="bor-top list-time">
                <div class="time"><span>2017年8月31日   18：23</span></div>
                <div class="time-list">
                    <p>20元积分劵已到账，购买享有更多优惠</p>
                    <ion-list class="clearfix">
                        <ion-item class="item-thumbnail-left">
                            <img src="./public/images/icons/notice.png">
                                <h5>BSE06外贸品质商用动感单车 多功能磁控</h5>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>