<ion-view view-title="意见反馈"> 
    <div class="personalOpinion">
        <!-- 头部内容 -->
        <app-header></app-header>

        <ion-content class="margin-top">
            <div class="opinion"><h5>请选择问题反馈类型</h5></div>
            <ion-list class="bor-top block opinion-list">
                <ion-item class="data-list item-icon-right" ui-sref="app.personalOnLine">
                    <i class="icon ion-ios-arrow-forward"></i>
                    <a>商品和商家问题</a>
                    <span class="item-note">有问题，找小特</span>
                </ion-item>
                <ion-item class="data-list item-icon-right" ui-sref="app.personalFeedback">
                    <i class="icon ion-ios-arrow-forward"></i>
                    <a>手机博菲特体验问题</a>
                    <span class="item-note">功能异常功能改进等</span>
                </ion-item>
                <ion-item class="data-list item-icon-right">
                    <i class="icon ion-ios-arrow-forward"></i>
                    <a>我要举报</a>
                    <span class="item-note">发现违规商品反馈</span>
                </ion-item>
                
            </ion-list>

            

        </ion-content>

    </div>
</ion-view>