<ion-view view-title="我的订单 之 订单详情">
	<div class="orderDetails">
	
		<!-- 头部内容 -->
        <app-header></app-header>
	    
		<ion-content class="bor-top margin-top">
			<ion-list>
				<ion-item class="bor-bot">
					<div>订单号：13811556</div>
					<div>创建时间：2017-09-01  09：30：46</div>
					<div><span class="red-color">买家已付款</span></div>
				</ion-item>
				<ion-item class="item-icon-left item-icon-right bor-bot item-paddind-top">
					<div>
						<span class="red-color">张三</span>
						<span class="fr red-color">137********</span>
					</div>
					<div>
						<i class="icon ion-ios-location"></i>
				   		<div>广东省广州市海珠江燕路南珠广场附近（江南大道南海鹰路88号） </div>
				    	<i class="icon ion-ios-arrow-right"></i>
					</div>
						
				</ion-item>
				<ion-item class="item-thumbnail-left item-paddind-top">
						<img src="./public/images/product/goods-04.png">
				    	<h2>BSE08 酷炫黑色高端健身房动感单车厂家批发直销</h2>
				    	<p>[经典款] 黑色 动感飞轮</p>
				    	<div class="money">
                            <span class="red-color">￥399</span>
                            <span class="no-price">￥688</span>
                            <span class="fr red-color">×5</span>
                        </div>
				</ion-item>
				<ion-item  class="bor-bot item-padding">
					<span class="border-style dark fr">退款</span>
				</ion-item>
				<ion-item>
					<p><span class="dark">运费</span><span class="fr">￥0.00</span></p>
					<p><span class="dark">优惠价</span><span class="fr">-￥400.00</span></p>
					<p><span class="dark">实付款（含运费）</span><span class="fr red-color">￥798.00</span></p>
				</ion-item>
				<ion-item class="item-padding">
					<span class="border-style dark fr">联系商家</span>
				</ion-item>
				<ion-item class="bor-bot">
					<p>订单编号:31245698</p>
					<p>交易号:2017090110001006983654236541</p>
					<p>创建时间:2017-09-01  09：30：36</p>
					<p>付款时间:2017-09-01  09：30：46</p>
					<p>发货时间:2017-09-01  09：30：36</p>
				</ion-item>
			</ion-list>
		</ion-content>
		<ion-footer-bar class="footer-height">
			<div class="div-right">
				<button class="button button-settlement-border">查看物流</button>
				<button class="button button-settlement-border">确认收货</button>
			</div>
		</ion-footer-bar>	

	</div>
</ion-view>