<ion-view>
    <ion-content class="order">        
        <div class="order-list">
            <div class="bor-top">
                <div class="opinion"><h5>订单号：31254687<span class="fr">待收货</span></h5></div>
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="./public/images/product/city-buy-01.png">
                            <h2>BSE06外贸品质商用动感单车 多功能磁控</h2>
                            <p class="single">￥269.00 <span class="fr">X 2</span></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="./public/images/product/city-buy-01.png">
                            <h2>BSE06外贸品质商用动感单车 多功能磁控</h2>
                            <p class="single">￥269.00 <span class="fr">X 2</span></p>
                    </ion-item>
                    <ion-item class="order-total">
                        <p class="all-money">共 <i>3</i> 件商品    
                            合计：￥ <i>1217.00</i>（
                            含运费 ￥ <i>0.00</i>）</p>
                        <div class="but-order">
                            <button class="button button-assertive fl">删除订单</button>
                            <button class="button button-settlement fr">查看物流</button>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>