<ion-view view-title="修改密码">
	<div class="registerSuccess">
		
		<!-- 头部内容 -->
	    <ion-header-bar class="bar bar-header header-bg ">
	        <div class="item-icon-left icon-left">
	            <i class="icon ion-ios-arrow-back" ng-click="loading()"></i>
	        </div>
	        <div class="h1 title">注册成功</div>
	    </ion-header-bar>
	    
		<div class="scroll-content has-header bor-top">
			<div class="success-main">
				<p>恭喜您，注册成功！！</p>
				<p>小特马上为您加载到登录页面</p>
				<p>请稍等......<span class="fr">3s</span></p>
			</div>
			<div class="success-img">
				<img src="./public/images/icons/success.png" />
			</div>
		</div>	

	</div>
</ion-view>