<ion-view>
	<!-- 商品详情 -->
	<ion-content class="goodseValuate">

		<div class="bor-top valuate-list">
			<ul class="list-info">
				<li class="active">全部评价(566)</li>
				<li>最新(566)</li>
				<li>晒图(566)</li>
				<li>追评(566)</li>
				<li>好评(566)</li>
				<li>中评(566)</li>
				<li>差评(566)</li>
			</ul>
			<div class="list-img">
				<img src="./public/images/icons/pinjia.png">
			</div>
		</div>

		<div class="bor-top comment-list">
			<ul>
				<li>
					<div class="comment-user clear">
						<div class="user-icon fl">
							<img src="./public/images/icons/user-01.png">
						</div>
						<div class="usre-name fl">
							<span>k**6<i></i></span>
						</div>
						<div class="star fr"></div>
					</div>
					<div class="usre-time">
						<span class="fl">颜色分类：[经典款] 黑色  动感飞轮</span>
						<span class="fr">2017-08-05</span>
					</div>
					<div class="clear usre-text">
						<p>
							试了半个多月才来评价，比想象的要好，减震挺好的，加上减震垫，放心跑步不用担心吵到楼下，机器运转声音也不大。去附近的实体店对比过，其他牌子差不多功能的要三四千。细节也做得很好，像跑步台的液压升降，像便捷的加油孔等等。细节往往代表商家对客户是否用心，这些细节都给了我不少的惊喜。
						</p>
						<div class="row row-wrap">
							<div class="col col-33"><img src="./public/images/product/comment-01.png"></div>
							<div class="col col-33"><img src="./public/images/product/comment-01.png"></div>
							<div class="col col-33"><img src="./public/images/product/comment-01.png"></div>
							<div class="col col-33"><img src="./public/images/product/comment-01.png"></div>
						</div>
						<div class="browse clear">
							<span class="fl">浏览 1002次</span>
							<p class="fr">
								<span><i class="ion ion-chatboxes"></i>3</span>
								<span><i class="ion ion-thumbsup"></i>3</span>
							</p>
						</div>

					</div>
				</li>
			</ul>
		</div>

		<div class="height"></div>

	</ion-content>

</ion-view>