body {
	background-color: #fff !important;
}

/*轮播*/
.index .swiper-slide img {
	margin: 0 auto;
}

/*列表项*/
.label .row-wrap .item {
	border: none;
}

/*限时*/
.index .time {
	font-size: 14px;
}

.index .time-list{
	text-align: center;
	padding-left: 0;
}

.index .time-list a {
	text-align: center;
}

.index .time-list .new-price {
	color: #FD2E42;
	font-size: 16px;
	font-weight: 700;
	padding-top: 10px;
	display: block;
}

.index .time-list .original-price {
	font-size: 12px;
	color: #686868
}

.index .time-list .swiper-slide img {
	box-shadow: 0px 0px 10px 0px #b7b7b7;
}


/*热卖专场*/
.index .goods-hot, .index .recom-good {
	overflow: hidden;
	background-color: #F6F7F9;
	padding:10px 0;
}

.index .goods-hot .icons-img{
	background-color: #7EE1FE;
	position: relative;
}

.index .goods-hot .icons-img::before{
	background: url('../../public/images/icons/hot.png') no-repeat 0 0;
	background-size: 100% 100%;
	width: 26px;
	height: 26px;
}

.index .goods-list .list-right {
	background: #fafaf6;
}

.index .goods-list .list-right > div:nth-child(2) {
	margin-top: 29.65px;
}

/*三角形*/
.trigon {
	width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.index .goods-hot .trigon{
	border-left: 25px solid #7EE1FE;
}
.index .recommend .trigon{
	border-left: 25px solid #FFBD80;
}
.index .product1 .recom-good .icons-img {
	background-color: #81FFED
}
.index .product1 .trigon{
	border-left: 25px solid #81FFED;
}
.index .product2 .recom-good .icons-img {
	background-color: #B2FF81
}
.index .product2 .trigon{
	border-left: 25px solid #B2FF81
}
.index .product3 .recom-good .icons-img {
	background-color: #FF8198
}
.index .product3 .trigon{
	border-left: 25px solid #FF8198
}


/*更多*/
.index .goods-hot .more, .index .recom-good .more {
	padding-right: 10px;
	font-size: 14px;
	height: 30px;
    line-height: 30px;
}
.index .goods-hot .more > p, .index .recom-good .more > p {
	float: left;
    padding-right: 6px;
    line-height: 27px;
}



/*商品推荐*/
.index .recom-good .icons-img{
	background-color: #FFBD80;
	position: relative;
}

.index .recom-good .icons-img::before{
	background: url('../../public/images/icons/jian.png') no-repeat 0 0;
	background-size: 100% 100%;
	width: 26px;
	height: 26px;
}

.index .recommend .recom-list {
	padding: 5px 10px;
}

.index .recom-list li {
	float: left;
	margin-bottom: 16px;
	width: calc(50% - 5px);
	border: 1px solid #BFBFBF;
}

.index .recom-list li:nth-child(2n-1) {
	margin-right: 5px;
}

.index .recom-list li:nth-child(2n) {
	margin-left: 5px;
}

.index .recom-list .list-name img{
	border-color: #FAF9F5;
	border-left: 2px;
	border-right: 2px;
	border-style: solid;
}

.index .recom-list .list-name p{
	padding-left: 10px;
	padding-right: 10px;
	color: #090907;
}

.index .recom-list .list-name p:nth-child(1) {
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}


.index .recom-list .list-name p span {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #FB0512;
}

.index .recom-list .list-name p em {
	background: url('../../public/images/icons/gwc.png') no-repeat 0 0;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
}


/* 文字小图标*/
.index .icons-img {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding-left: 40px;
}
.index .icons-img::before{
	content:"";
	display: block;
	position: absolute;
	top: 2px;
	left: 10px;
	clear: both;
}


/*尾部*/
.index .footer .tabs {
	background-color: #fff;

}
ion-tabs.tabs-color-active-balanced .tab-item.tab-item-active {
	color: #5fdec9
}