
    <div class="searchGoods header-common">
        
        <!-- 头部内容 -->
        <app-header></app-header>

        <!-- 中心内容 -->
        <ion-content class="main bor-top margin-top">
            <!-- 顶级导航栏 -->
            <div class="class-nav">
                <ul class="row row-wrap nav-head">
                    <li class="col col-25">
                        <span>综合 <i class="ion ion-android-arrow-dropdown"></i></span>
                    </li>
                    <li class="col col-25"><span>销量</span></li>
                    <li class="col col-25">
                        <span>价格 
                            <i class="ion ion-android-arrow-dropup up"></i>
                            <i class="ion ion-android-arrow-dropdown down"></i>
                        </span>
                    </li>
                    <li class="col col-25"><span>筛选 <i class="ion ion-social-buffer-outline"></i></span></li>
                </ul>
                <!-- 副级导航栏 -->
                <ul class="row row-wrap nav-vice">
                    <li class="col col-25"><span>新品</span></li>
                    <li class="col col-25"><span>同城配送</span></li>
                    <li class="col col-25"><span>跑带宽度 <i class="ion ion-android-arrow-dropdown"></i></span></li>
                </ul>
            </div>
            <!-- 搜索商品 -->
            <div class="searchGoods-goods">
                <ul class="row row-wrap goods">
                    <li>
                        <a class="row">
                            <div class="col col-25 goods-img"><img src="./public/images/product/goods-02.png"></div>
                            <div class="goods-desc">
                                <h5 class="goods-title">BCT03专业健身房品牌商用跑步机厂家批发直销</h5>
                                <p class="goods-eval"><span>53条评价</span><span>98%好评</span></p>
                                <p class="goods-price"><span>￥2399.00</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="row">
                            <div class="col col-25 goods-img"><img src="./public/images/product/goods-02.png"></div>
                            <div class="goods-desc">
                                <h5 class="goods-title">BCT03专业健身房品牌商用跑步机厂家批发直销</h5>
                                <p class="goods-eval"><span>53条评价</span><span>98%好评</span></p>
                                <p class="goods-price"><span>￥2399.00</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="row">
                            <div class="col col-25 goods-img"><img src="./public/images/product/goods-02.png"></div>
                            <div class="goods-desc">
                                <h5 class="goods-title">BCT03专业健身房品牌商用跑步机厂家批发直销</h5>
                                <p class="goods-eval"><span>53条评价</span><span>98%好评</span></p>
                                <p class="goods-price"><span>￥2399.00</span></p>
                            </div>
                        </a>
                    </li>
                    <div class="recommend">
                    <!-- 推荐  分类 -->
                        <ul class="row row-wrap nav-brand">
                            <li class="col col-25"><a>二手</a></li>
                            <li class="col col-25"><a>多功能</a></li>
                            <li class="col col-25"><a>家用款</a></li>
                            <li class="col col-25"><a>静音</a></li>
                            <li class="col col-25"><a>健身器材</a></li>
                            <li class="col col-25"><a>智能</a></li>
                            <li class="col col-25"><a>其他</a></li>
                        </ul>
                    </div>
                    <li>
                        <a class="row">
                            <div class="col col-25 goods-img"><img src="./public/images/product/goods-02.png"></div>
                            <div class="goods-desc">
                                <h5 class="goods-title">BCT03专业健身房品牌商用跑步机厂家批发直销</h5>
                                <p class="goods-eval"><span>53条评价</span><span>98%好评</span></p>
                                <p class="goods-price"><span>￥2399.00</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="layer-bg-top">
                <div class="integrative-list">
                    <ion-list>
                        <ion-radio ng-model="choice" ng-value="'A'">综合</ion-radio>
                        <ion-radio ng-model="choice" ng-value="'B'">新品</ion-radio>
                        <ion-radio ng-model="choice" ng-value="'C'">评价</ion-radio>
                    </ion-list>
                </div>
            </div>

            <div class="layer-bg-right">
                <div class="bg-right-empty"></div>
                <div class="right-integrative-list">
                    
                </div>
            </div>
            
           
        </ion-content>

    </div>
