<ion-view view-title="添加新地址">
    <div class="personalAddress">
        <!-- 头部内容 -->
        <app-header></app-header>
        <ion-content class="margin-top">
            <ion-list class="bor-top block opinion-list">
                <ion-item class="data-list item-icon-right">
                    <i class="icon ion-ios-arrow-forward"></i>
                    <a>收货人</a>
                    <span class="item-note">小特</span>
                </ion-item>
                <ion-item class="data-list item-icon-right">
                    <i class="icon ion-ios-arrow-forward"></i>
                    <a>联系电话</a>
                    <span class="item-note">12345678911</span>
                </ion-item>
                <ion-item class="data-list item-icon-right">
                    <i class="icon ion-ios-arrow-forward"></i>
                    <a>所在地区</a>
                    <span class="item-note">请选择</span>
                </ion-item>
                <ion-item class="data-list item-icon-right">
                    <textarea placeholder="详细地址"></textarea>
                </ion-item>
                <ion-item class="data-list item-toggle bor-top">
                    设为默认地址
                    <label class="toggle toggle-calm">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</ion-view>